@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	background: white;
	font-family: sans-serif;text-align: center;
}
a {
	border: none;
	cursor: default;
	text-decoration: none;
}
img {
	border: none;
}
h1{ opacity: 0.2;}